# Ignorar archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración local
config.json

# Ignorar archivos de credenciales sensibles (reemplaza 'tu-archivo-de-credenciales.json' con el nombre de tu archivo)
credentials.json
