<!DOCTYPE html>
<html>
<head>
    <title>Temperatura y Humedad</title>
</head>
<body>
    <h1>Temperatura y Humedad en Tiempo Real</h1>
    <p id="temp">Temperatura: </p>
    <p id="humd">Humedad: </p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io('http://10.0.0.163:3000')

        socket.on('connect', () => {
            console.log('Conectado al servidor WebSocket');
        });

        socket.on('send_data', (data) => {  // Cambia 'update_data' a 'send_data'
        document.querySelector('temp').textContent = 'Temperatura: ' + data.temp + '°C';
        document.querySelector('humd').textContent = 'Humedad: ${data.humd} %';
        });
    </script>
</body>
</html>
