<!DOCTYPE html>
<html>
<head>
    <title>Temperatura y Humedad</title>
</head>
<body>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io.connect('http://10.0.0.163:3000');

        socket.on('connect', () => {
            console.log('Conectado al servidor WebSocket');
        });

        socket.on('temp', (temp) => {
            const temperaturaElement = document.querySelector('#temperatura');
            temperaturaElement.textContent = `Temperatura: ${temp} °C`;
        });

        socket.on('humd', (humd) => {
            const humedadElement = document.querySelector('#humedad');
            humedadElement.textContent = `Humedad: ${humd} %`;
        });
        
    </script>

    <h1>Temperatura y Humedad en Tiempo Real</h1>
    <p id="temperatura"></p>
    <p id="humedad"></p>
</body>
</html>
